@import "variables.sass"

article.section
  height: 500px

  &:nth-child(odd)
    //.text_box
      float: left
  &:nth-child(even)
    background-color: $grey
    //.text_box
      float: right

  div
    padding: 1px 20px

  h1
    color: $dark
    text-transform: uppercase
    text-align: center

    span
      opacity: 0.9

.wrapper

.text_box
  width: 45%
  text-align: justify
